<!DOCTYPE html>
<html>
<head>
  <title>Sample Application</title>
</head>
<body>
  <h1>Welcome to Sample Application</h1>
  <form action="/submit" method="POST">
    <label for="inputField">Input Field:</label>
    <input type="text" id="inputField" name="inputField">
    <button type="submit">Submit</button>
  </form>
</body>
</html>

